<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
        <input type="radio" autocomplete="off" name="is_active" value="True">Активные
    </label>
    <label class="btn btn-primary">
        <input type="radio" autocomplete="off" name="is_active" value="False"> Неактивные
    </label>
    <label class="btn btn-primary active">
        <input type="radio" autocomplete="off" name="is_active" value="" checked> Все
    </label>
</div>