<div class="text-center">
    <a class="username">
        {{username}}
    </a>
    <div class="img-thumbnail">
        <img src="{{profile_picture}}" alt="">
    </div>
    {{#if inactive_date}}
        {{moment inactive_date 'DD MMMM YYYY'}}
    {{/if}}
</div>