<div class="container">
    <div class="jumbotron">
        <h1>
            Shaya
        </h1>
        <p>
            На этом сайте есть представлена информация по подписчикам на instagram-аккаунт
            <a href="https://www.instagram.com/shaya_the_sheep/">@shaya_the_sheep</a>
        </p>
    </div>
</div>