<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="region_item"></div>
        </div>
        <div class="col-md-10">
            <div class="region_presence"></div>
        </div>
    </div>
</div>