<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="#" class="link_list">
                Список подписчиков
            </a>
        </li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <div class="region_item"></div>
        </div>
        <div class="col-md-8">
            <div class="region_presence"></div>
        </div>
    </div>
</div>